@import '../../base.scss';

.selected-card {
    display: flex;
    
    height: 100%;

    @include respond(big-desktop) {
        height: 74rem;
    }

    &__message {
        text-align: center;
        
        font-size: 2.4rem;
    }

}

.logo {
    width: 32rem;
    height: auto;
    margin-bottom: 3.2rem;
}

.view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 14%;
}

.sidebar {
    background: #fff;
    height: 88vh;
    width: 32rem;

    @include respond(big-desktop) {
        width: 40rem;
    }
}

.canvas {
    margin: auto;
    
}

.form {
    padding: 3.2rem 1.6rem;

    &__group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.6rem;
    }

    &__label {
        font-size: 1.6rem;
        margin-bottom: .8rem;
        color: $text;
    }

    &__input {
        border: none;
        border: 1px solid #D2D3D3;
        border-radius: 6px;
        padding: 1.1rem 1.2rem;
        font-size: 1.6rem;
        font-weight: 400;
    }

    &__textarea {
        border: none;
        border: 1px solid #D2D3D3;
        border-radius: 6px;
        padding: 1.1rem 1.2rem;
        font-size: 1.6rem;
        font-weight: 400;
        font-family: "Lato";
    }

    &__button {
        margin-top: 3.2rem;
        width: 24rem;
        padding: 1.6rem 2.4rem;
        font-size: 1.6rem;
        border: none;
        background: $primary;
        color: $white;
        border-radius: 8px;
        cursor: pointer;

        @include respond(big-desktop) {
            width: 32rem;
        }
    }
}

// .canvas {
//     border: 1px solid $secondary;
// }